$paragraphe: red;
$h3: aqua;
$h2: green;
$width:25%;
$height:55%;
$bordercolor:aqua; 

h1 {
	color:$paragraphe;
}
/* h3 {
	background-color: $h3;	
} */
h2 {
	color:$h2;
}
.tag {
	width:$width;
}

.newtag{
	height:$height;
}
.lastest {
	border-color:$bordercolor;
}