$paragraphe: red;
$h3: aqua;
$h2: green;
$carriage_return: 115px;
$pwidth:80%;
$pborder:solid 1px #ddd;
//$pmargin:0 auto;
// $ptextalign: center;
h1 {
	color:$paragraphe;
}
h3 {
	background-color: $h3;	
}
h2 {
	color:$h2;
}
p {
	height:$carriage_return;
	width:$pwidth;
	border:$pborder;
	//margin:$pmargin;
	// text-align:$ptextalign;

}